body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3f3e3e;
    background-image: url(images/download\ \(1\).jpeg);
    background-size: cover; /* Adjusts the size of the background image to cover the entire viewport */
    background-position: center
    
}

header {
    background-color: #252525;
    color: #ce0404;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    color: #ce0404;
}
h2 {
  margin: 0;
  color: #ce0404;
}

main {
    padding: 20px;
}

#bandMembers {
    margin-top: 20px;
}

#membersList {
    list-style-type: none;
    padding: 0;
}

footer {
    background-color: #242424;
    color: #fc0000;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

p,li {
    color: white;
}

img {
    width: 200px; /* Set a fixed width for all images */
    height: 200px; /* Automatically adjust height to maintain aspect ratio */
}
